.course-info-wrapper {
    max-width: 110.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
}

.course-info-wrapper h2 {
    font-size: 3.2rem;
    font-weight: 700;
    align-self: flex-start;
}

.course-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    width: 110.4rem;
    height: auto;
    padding: 3.2rem 4.8rem;
    border: 0.1rem solid var(--color-border, #dcdcdc);
    border-radius: 0.4rem;
    background-color: var(--color-background-white, #ffffff);
}

.description-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-right: 0.1rem solid var(--color-border, #dcdcdc);
}

.description-title {
    font-size: 2rem;
    font-weight: 700;
}

.description {
    font-size: 1.6rem;
    line-height: 1.25;
}

.course-authors .value {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.back {
    align-self: flex-end;
}

.course-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-label {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 3.6rem;
    width: 10rem;
}

.item-value {
    font-size: 1.6rem;
}
