.course_card {
    position: relative;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 2px 0px 8px 0px #00000040;
    background-color: var(--color-background-white);
    overflow: hidden;
}

.course_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.7rem;
    height: 100%;
    background-color: #333e48;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4.7rem;
    align-items: stretch;
}

.course_card h2 {
    font-size: 2rem;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.card-content {
    font-size: 1.6rem;
    color: var(--color-text);
    line-height: 1.25;
}

.card-details {
    margin-bottom: 3rem;
}

.card-details p {
    display: flex;
    align-items: baseline;
    line-height: 1.25;
    margin: 0.2rem 0;
}

.card-details .label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 0.5rem;
}

.card-details .value {
    font-size: 1.6rem;
    font-weight: 400;
}

.course-authors .value {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
