.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    width: 100%;
}

.input-container label {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-text-label);
}

.input-container input {
    width: 100%;
    height: 5rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: var(--color-text-input);
    transition: border-color 0.2s ease-in;
    background-color: var(--color-background-white);
}

.input-auth input {
    max-width: 28.6rem;
    margin: 0 auto;
}

.input-small {
    width: auto;
}

.input-small input {
    width: 40rem;
    max-width: none;
}

.input-container .error-message {
    color: #ff0000;
    font-size: 1.4rem;
    margin: 0;
    text-align: left;
}

.input-container.has-error input {
    border-color: #ff0000;
}

.input-default input {
    max-width: none;
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
