.button {
    background-color: var(--color-primary);
    color: var(--color-text-white);
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005f7a;
}
