header {
    width: 100%;
    height: 8rem;
    background-color: var(--color-background-white);
    box-shadow: 1px 1px 4px 0px #00000026;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.7rem;
    margin-bottom: 7.4rem;
}

.user-panel {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.user-name {
    font-size: 1.4rem;
    font-weight: 600;
}
