.courses-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.courses-container .link {
    align-self: flex-end;
}
