.create-author {
    display: flex;
    gap: 2rem;
    align-items: end;
    margin-bottom: 2rem;
}

.authos-creation {
    position: relative;
}

.authors-section {
    display: flex;
    justify-content: space-between;
}

.authos-creation h3 {
    margin-bottom: 2rem;
}

.authors-list {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.authors-list-section {
    margin-bottom: 3rem;
}

.course-authors-section .author-name {
    width: 100%;
}

.authors-list-section .author-name {
    width: 30%;
}

.course-authors-section h3 {
    margin-bottom: 2rem;
}

.error-message {
    font-size: 1.4rem;
}

.author-input-container .error-message {
    color: #ff0000;
    font-size: 1.4rem;
    margin: 0;
    text-align: left;
}

.author-input-container.has-error input {
    border-color: #ff0000;
}
