@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

:root {
    --color-primary: #007298;
    --color-text: #333e48;
    --color-text-white: #ffffff;
    --color-background: #f7f7f7;
    --color-background-white: #ffffff;
    --color-text-label: #000;
    --color-text-input: #333;
    --color-border: #cfcfcf;

    --font-primary: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-background);
}

.link {
    width: 18rem;
    height: 5rem;
    background-color: var(--color-primary);
    color: var(--color-text-white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #005f7a;
}
