.empty-course {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.empty-course h3,
.empty-course p {
    margin: 0;
}

.empty-course h3 {
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 700;
}

.empty-course p {
    font-size: 1.6rem;
    line-height: 1.25;
}
